<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<h1>Consumptions List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for consumption in consumptions %}
        <tr>
            <td><a href="{% url 'consumption_details' consumption.id %}">{{ consumption.id }}</a></td>
            <td> {{ consumption.product.name }} </td>
            <td> {{consumption.quantity}}</td>
            <td> {{consumption.timestamp}}</td>
            <td> <a href="{% url 'delete_consumption' consumption.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'consumption_form' %}">Add new consumption</a>