<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<h1>Consumption details</h1>
<ul>
    <li>Id: {{ consumption.id }}</li>
    <li>Date: {{ consumption.timestamp }}</li>
    <li>Product: {{ consumption.product.code }}</li>
    <li>Quantity: {{ consumption.quantity }}</li>
</ul>

<a href="{% url 'index' %}">Go back to list</a>