<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h1>Add new Consumption</h1>

<form action="{% url 'add_consumption' %}" method="post">
    {% csrf_token %}
    {% for product in products %}
    <input type="radio" name="product" id="choice{{ forloop.counter }}" value="{{ product.code }}">
    <label for="choice{{ forloop.counter }}">{{ product.name }}</label><br>
    {% endfor %}
    <input type="number" name="quantity" required placeholder="Quantity">
    <br><br>
    <input type="submit" class="btn btn-primary" value="Add">
</form>

<a href="{% url 'index' %}">Go back to list</a>